   @import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

   body {
       background-color: #000;
       width: 100%;
       height: 100vh;
       overflow: hidden;
       display: flex;
       justify-content: center;
       align-items: center;
       font-family: 'Rubik Iso', cursive;

   }

   .neon {
       color: #fff;
       font-size: 5em;
       font-family: Georgia, 'Times New Roman', Times, serif;
       text-align: center;
       letter-spacing: 12px;
       /* -webkit-box-reflect: below -35px linear-gradient(transparent, transparent, #0005); */
       text-shadow: 0 0 5px #fff,
           0 0 1.0px #fff,
           0 0 2.5px #fff,
           0 0 3.0px #0ff,
           0 0 4.0px #0ff,
           0 0 7.0px #0ff,
           0 0 7.0px #0ff;
   }